@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
	--font-big: Chivo;
	--font-mono: "Source Code Pro";

	--color-zinc-150: #f0f0f2;
	--color-zinc-850: #1e1e21;
}

@custom-variant dark (&:is(.dark, .dark *));
@custom-variant theme (&:is(.dark *,.light *));
@custom-variant enabled (&:not(disabled));

h3,h2,h1 {
	font-family: var(--font-big);
}

html {
	font-family: var(--font-mono);
}

button {
	cursor: pointer;
}

.editor {
	grid-template:
		"a a a" 3.5rem
		"b c d" 1fr
		"b e d" 1.8fr / 1.2fr 1fr 0.7fr;
}

.editor-running {
	grid-template:
		"a a a" 3.5rem
		"b c d" 1fr
		"b e f" 1.8fr / 1.2fr 1fr 0.7fr;
}

.editor-top { grid-area: a; }
.editor-left { grid-area: b; }
.editor-right { grid-area: d; }
.editor-right-down { grid-area: f; }
.editor-mid-up { grid-area: c; }
.editor-mid-down { grid-area: e; }