@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
	--font-big: Chivo;
	--font-mono: "Source Code Pro";

	/* --color-zinc-150: #f0f0f2;
	--color-zinc-850: #1e1e21; */
	
	--color-zinc-50:  #d0ebe3;
  --color-zinc-100: #c0e8db;
  --color-zinc-150: #b6e4d6;  /* between 100 and 200 */
  --color-zinc-200: #ade1d1;
  --color-zinc-300: #81ceb8;
  --color-zinc-400: #54b69a;
  --color-zinc-500: #3d927a;
  --color-zinc-600: #2d7863;
  --color-zinc-700: #244a40;
  --color-zinc-800: #181f1d;
  --color-zinc-850: #19302d;  /* between 800 and 900 */
  --color-zinc-900: #131414;
  --color-zinc-950: #0e0f0f;
  
  --color-neutral-950: #0e1211;
  --color-gray-100: #ebedec;
}

@custom-variant dark (&:is(.dark, .dark *));
@custom-variant theme (&:is(.dark *,.light *));
@custom-variant enabled (&:not(:disabled));

h3,h2,h1 {
	font-family: var(--font-big);
}

html {
	font-family: var(--font-mono);
}

button:not(:disabled) {
	cursor: pointer;
}

@theme {
  --animate-fade-in: fade-in 1s ease-in-out forwards;
  --animate-fade-out: fade-out 1s ease-in-out forwards;

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

.editor {
	grid-template:
		"a a a" 3.5rem
		"b c d" 1fr
		"b c d" 1.8fr / 1.2fr 1fr 0.7fr;
}

.editor-top { grid-area: a; }
.editor-left { grid-area: b; }
.editor-right { grid-area: d; }
.editor-mid { grid-area: c; }

.main-text p {
  text-indent: 1rem;
}

.main-text p:not(:last-child) {
  margin-bottom: 1rem;
}

@keyframes blinker { to { opacity: 0; } }
.cursor {
  display: inline-block;
  vertical-align: text-top;
  width: 10px;
  height: 1.2rem;
  margin-left: -2px;
  background: linear-gradient(to right, #d1ffde4d, #5efd8b);
  animation: blinker 0.7s cubic-bezier(0.98, -0.01, 0.09, 1.01) infinite alternate
}
.asciiart span {
  animation: fade-in 0.2s linear 0s both 1;
}

.main-text .text-bit {
  animation: fade-in 0.1s linear forwards;
}

dialog::backdrop {
  background: none;
}

@keyframes expand {
  0% {  opacity: 0.5; color: var(--color-amber-300); }
  100% { color: inherit; }
}

@keyframes bganim-intro {
  0% {  color: var(--color-zinc-300); opacity: 1; }
  100% { color: var(--color-gray-600); opacity: 0.1; }
}

.bg-anim {
  animation: bganim-intro 0.5s ease-in-out;
}

.bg-anim span {
  display: inline-block;
  overflow: hidden;
}

.bg-anim span.adding {
  animation: expand 0.5s ease-in-out;
}

.bg-anim span.removing {
  animation: expand 0.5s ease-in-out reverse both;
}

/* why did i do this */
@keyframes back {
	0% {
		opacity: 0;
		transform: scale(0.4) translateX(70%);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateX(-25%);
	}
}

@keyframes arrow-big {
	0% {
		opacity: 0;
		transform: scale(0.2) translateX(20%);
	}
	20% {
		opacity: 0;
		transform: scale(0.2) translateX(20%);
	}
	100% {
		opacity: 1;
		transform: scale(0.7) scaleX(0.8) translateX(-65%);
	}
}

@keyframes rose {
  0% { transform: scale(1) translateX(0) rotate(0deg); }
	100% {
    transform: translateX(220%) scale(0.8) rotate(230deg);
	}
}

@keyframes subrose-text {
  0% { opacity: 1; transform: scale(1) translateX(0); }
	100% {
		opacity: 0;
		transform: scale(0.5) translateX(-100%);
	}
}

@keyframes arrow-sm {
	0% {
		opacity: 0;
		transform: scale(0.4) translateX(40%);
	}
	100% {
		opacity: 1;
		transform: scale(1) scaleX(0.8) translateX(-140%);
	}
}

svg.logo * {
	transform-box: fill-box;
	transform-origin: center;
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
  animation-fill-mode: both;
}
svg.logo .arrow-big { animation-name: arrow-big; }
svg.logo .subrose-text { animation-name: subrose-text; }
svg.logo .arrow-sm { animation-name: arrow-sm; }
svg.logo .rose { animation-name: rose; }
svg.logo .back { animation-name: back; }